# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.venv/
venv/

# macOS
.DS_Store

# Logs
logs/
*.log

# Environment variables
.env
.env.*

# Build
/dist/
/build/
/out/

# IDEs
.idea/
.vscode/
# Temp and binaries
temp/
bin/
*.dll

/.vs/Git kode/v17
/.vs/Miniprojekt 2 - test/v17
/.vs/VSWorkspaceState.json
.vs/slnx.sqlite
